{
    border:10px solid black
    width:850px;
    height:1000px;
}
 div img{
    border:2px solid rgb(0, 0, 0);
    width:100px;
    height:100px;
    border-radius:100px;
    float:left;
}
div img{
    border:2px solid rgb(0, 0, 0);
    list-style.-type:none;
    margin:15px;
    padding:10px 20px;
   float:right;
}
div img:hover{
    afterborder:2px solid rgb(255, 179, 0);
background-color:rgb(43, 0, 255);
}
main{
    border:2px solid black;
    width:100px;
    height:200px;
    float:left;
    padding:5px 7px;
    margin:10px 30px;
    border-radius:25px;
}
order{
    border:2px; solid red;
    background-color:white;
}
contact{
    border:2px;
    width:400px;
    height:130px;
    position:absolute;
    top"650px;
    right:250px;
    padding:20px;
    margin:20px 20px;
    border-radius:25px;
    background-color:light-grey;
}
contact{
    width:100px;
    height:300px;
    background-color:white;
    color:black;
}